.cart-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    max-width: 1080px;
    /* background-color: red; */
    margin:10px auto;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:10px;
    padding-bottom:  20px;
    border: 1px solid gray;
    width: 65%;
    /* background-color: yellow; */
    margin: auto;
    margin-bottom: 5px;
}


.total{
    border-top: 1px solid black;
    align-self:flex-end;
    width: 100%;
    /* background-color: green; */
    text-align: right;
    margin-top: 50px;
    /* padding-right: 20px; */
}
.total h3{
    border-top: 1px solid gray;

}

.payment{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid gray;
    width: 30%;
}


@media screen and (max-width: 600px) {
    .cart{
        width: 100%;
    }

}
