.search {
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.s_suggestion {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background: white;
    flex-direction: column;
    top: 40px;
    width: 100%;
    border-radius: 5px;
    z-index: 1;
}
.s_suggestion_box{
    display: flex;
    padding: 0;
    width: 95%;
    margin: 0 auto;
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-start;
}
.box_ul_li {
    width: 100%;
    padding: 4px 0;
    margin-bottom: 2px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color:black;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;

}
.box_ul_li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.book_title{
    font-size: 14px;
}
.Book_author{
    font-size: 14px;
}
.navlink_box {
    display: flex;
    /* gap: 30px; */



}

.logo_img{
    width: 40px;
    border-radius: 50%;
    display: none;
}

@media screen and (max-width: 600px) {
    nav {
        /* padding: 0 10px; */
        position: relative;
        z-index: 5;
    }
    .logo_img{
        width: 40px;
        border-radius: 50%;
       display: block;
    }
    .logo h2{
        display: none;
    }
    .Book_author{
        display: none;
    }
}